* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    background-color: rgb(57, 72, 30);
}

.search {
    height: 100%;
    width: 100%;
    display: flex;
}

.search__form {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 60%;
    margin: auto;
}

.search__string {
    display: flex;
}

.search__input {
    width: 300px;
    padding: 10px;
    border: 3px solid #000000;
    background-color: rgb(61, 61, 61);
    color: rgb(84, 150, 19);
    border-radius: 15px 0 0 15px;
    font-size: 35px;
    outline: none;
}

.search__button {
    padding: 10px;
    border: 3px solid #000000;
    background-color: rgb(61, 61, 61);
    color: rgb(84, 150, 19);
    border-left: none;
    border-radius: 0 15px 15px 0;
    font-size: 35px;
    cursor: pointer;
}

.search__select {
    margin-left: 10px;
    padding: 10px;
    border: 3px solid #000000;
    background-color: rgb(61, 61, 61);
    color: rgb(84, 150, 19);
    border-radius: 15px;
    font-size: 35px;
    cursor: pointer;
}

@media screen and(max-width: 360px){

    .search {
        height: 100%;
        width: 50%;
        display: flex;
    }
    
    .search__input {
        width: 50px;
        padding: 5px;
        border: 2px solid #000000;
        background-color: rgb(61, 61, 61);
        color: rgb(84, 150, 19);
        border-radius: 15px 0 0 15px;
        font-size: 15px;
        outline: none;
    }

    .search__form {
        display: flex;
        align-items: baseline;
        justify-content: baseline;
        width: 30%;
        margin: auto;
    }
    
    .search__button {
        padding: 5px;
        border: 2px solid #000000;
        background-color: rgb(61, 61, 61);
        color: rgb(84, 150, 19);
        border-left: none;
        border-radius: 0 15px 15px 0;
        font-size: 15px;
        cursor: pointer;
    }
    
    .search__select {
        width: 50px;
        margin-left: 10px;
        padding: 5px;
        border: 2px solid #000000;
        background-color: rgb(61, 61, 61);
        color: rgb(84, 150, 19);
        border-radius: 15px;
        font-size: 15px;
        cursor: pointer;
    }
}